In [ ]:
# Forcing autoreload of modules so restart is not required
%load_ext autoreload
%autoreload 2

import os

os.chdir("../../")


print("Current Working Directory:  ", os.getcwd())

In [ ]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [3]:
train= pd.read_csv("./data/raw/NSL_KDD/KDDTrain.txt",header = None)
test= pd.read_csv("./data/raw/NSL_KDD/KDDTest.txt",header = None)

In [4]:
train = pd.DataFrame(train)
train.columns = train.columns.astype(str)
test = pd.DataFrame(test)
test.columns = test.columns.astype(str)

In [ ]:
for column in train.select_dtypes(exclude=np.number).columns:
	train[column] = train[column].apply(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)

In [ ]:
for column in test.select_dtypes(exclude=np.number).columns:
	test[column] = test[column].apply(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125973 entries, 0 to 125972
Data columns (total 43 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       125973 non-null  int64
 1   1       125973 non-null  object
 2   2       125973 non-null  object
 3   3       125973 non-null  object
 4   4       125973 non-null  int64
 5   5       125973 non-null  int64
 6   6       125973 non-null  int64
 7   7       125973 non-null  int64
 8   8       125973 non-null  int64
 9   9       125973 non-null  int64
 10  10      125973 non-null  int64
 11  11      125973 non-null  int64
 12  12      125973 non-null  int64
 13  13      125973 non-null  int64
 14  14      125973 non-null  int64
 15  15      125973 non-null  int64
 16  16      125973 non-null  int64
 17  17      125973 non-null  int64
 18  18      125973 non-null  int64
 19  19      125973 non-null  int64
 20  20      125973 non-null  int64
 21  21      125973 non-null  int64
 22  22      125973 non-null  int64
 23  23      125973 non-null  int64
 24  24      125973 non-null  float64
 25  25      125973 non-null  float64
 26  26      125973 non-null  float64
 27  27      125973 non-null  float64
 28  28      125973 non-null  float64
 29  29      125973 non-null  float64
 30  30      125973 non-null  float64
 31  31      125973 non-null  int64
 32  32      125973 non-null  int64
 33  33      125973 non-null  float64
 34  34      125973 non-null  float64
 35  35      125973 non-null  float64
 36  36      125973 non-null  float64
 37  37      125973 non-null  float64
 38  38      125973 non-null  float64
 39  39      125973 non-null  float64
 40  40      125973 non-null  float64
 41  41      125973 non-null  object
 42  42      125973 non-null  int64
dtypes: float64(15), int64(24), object(4)
memory usage: 41.3+ MB

In [8]:
train.dtypes.value_counts()

int64      24
float64    15
object      4
Name: count, dtype: int64

In [9]:
train.head()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,0,tcp,ftp_data,SF,491,0,0,0,0,0,...,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,normal,20
1,0,udp,other,SF,146,0,0,0,0,0,...,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal,15
2,0,tcp,private,S0,0,0,0,0,0,0,...,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,neptune,19
3,0,tcp,http,SF,232,8153,0,0,0,0,...,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal,21
4,0,tcp,http,SF,199,420,0,0,0,0,...,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal,21

In [10]:
test.head()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,0,tcp,private,REJ,0,0,0,0,0,0,...,0.04,0.06,0.00,0.00,0.0,0.0,1.00,1.00,neptune,21
1,0,tcp,private,REJ,0,0,0,0,0,0,...,0.00,0.06,0.00,0.00,0.0,0.0,1.00,1.00,neptune,21
2,2,tcp,ftp_data,SF,12983,0,0,0,0,0,...,0.61,0.04,0.61,0.02,0.0,0.0,0.00,0.00,normal,21
3,0,icmp,eco_i,SF,20,0,0,0,0,0,...,1.00,0.00,1.00,0.28,0.0,0.0,0.00,0.00,saint,15
4,1,tcp,telnet,RSTO,0,15,0,0,0,0,...,0.31,0.17,0.03,0.02,0.0,0.0,0.83,0.71,mscan,11

In [11]:
test["41"].unique()

array(['neptune', 'normal', 'saint', 'mscan', 'guess_passwd', 'smurf',
       'apache2', 'satan', 'buffer_overflow', 'back', 'warezmaster',
       'snmpgetattack', 'processtable', 'pod', 'httptunnel', 'nmap', 'ps',
       'snmpguess', 'ipsweep', 'mailbomb', 'portsweep', 'multihop',
       'named', 'sendmail', 'loadmodule', 'xterm', 'worm', 'teardrop',
       'rootkit', 'xlock', 'perl', 'land', 'xsnoop', 'sqlattack',
       'ftp_write', 'imap', 'udpstorm', 'phf'], dtype=object)

In [12]:
test.shape[1]

43

In [13]:
train.shape[1]

43

In [14]:
train.to_csv('./data/staging/NSL_KDD/train.csv', index=False)
test.to_csv('./data/staging/NSL_KDD/test.csv', index=False)